language: scala

sudo: required

services:
   - docker

scala:
   - 2.12.8
   
jdk:
   - oraclejdk8


cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt/boot/

script:
  - sbt clean sbtPlaySwagger/scripted
  - sbt ';project playSwagger;clean;coverage;test'
  - cd example && sbt clean compile
after_success:
  - sbt ';project playSwagger;coverageReport;coveralls'
