name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Sbt Plugin tests
      run: 
        sbt clean sbtPlaySwagger/scripted
    - name: Core Lib tests
      run: 
        sbt ';project playSwagger;clean;coverage;+test'
    - name: Example compile    
      run: 
        cd example && sbt clean compile
    - name: Coverage report
      run: 
        sbt ';project playSwagger;coverageReport;coveralls'
